*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif,Geneva, Tahoma, sans-serif ;
    list-style-type: none;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(0.25turn, #73bfdfd0, #e463e4e2, #cd9457);
}
.card{
    width: 500px;
    height: 400px;
    background-color:whitesmoke;
    border-radius: 10px;
    position: relative;
}
.user{
    margin-top: 10px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    width: 300px;
    height:40px;
    font-size:16px;
}
.input-group{
margin-left: 100px;
height: 400px;
width: 200px;
position: absolute;
top:20%;
}
.heading{
width:100%;
text-align: center;
position: absolute;
top: 30px;
}
.btn{
    position: absolute;
    bottom: 32%;
    right: 28%;
    width: 230px;
    padding: 2px;
    border: 1px solid #9fa999;
    border-radius: 5px;
}
.btn:hover{
    color:whitesmoke;
    background-color:#4289a6;
    transition: 1ms;
    cursor:pointer;
}
.icons{
    position: absolute;
    bottom: 20%;
    right: 25%;
    width: 230px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.fa-google{
    cursor: pointer;
    font-size:18px ;
    color:red;
}
.fa-google-plus{
    cursor: pointer;
    color:red;
}
.fa-facebook-square{
    cursor: pointer;
    color: cornflowerblue;
}
hr{
    position: absolute;
    top:15%;
    left: 10%;
    width: 80%;
    background-color: transparent;
}
.h{
    text-decoration: none;
    font-size: 13px;
    color: midnightblue;
}
h2{
    font-size:16px;
}